= link_to 'Назад', root_path
- if user_signed_in?
  %h3= link_to 'Добавить отель', new_hotel_path
%table{:border => "1"}
  - @hotels.each do |hotel|
    %tr
      %td
        = hotel.title
      %td
        = link_to 'Подробно', hotel_path(hotel)
      - if user_signed_in?
        %td
          = link_to 'Редактировать', edit_hotel_path(hotel)
        %td
          = link_to 'Удалить', hotel_path(hotel), method: :delete
