<h3><%= link_to 'Add hotel', new_hotel_path %></h3>
<table border="1">
  <% @hotels.each do |hotel| %>
    <tr>
      <td>
        <%= hotel.title %>
      </td>
      <td>
        <%= link_to 'Show', hotel_path(hotel) %>
      </td>
      <td>
        <%= link_to 'Edit', edit_hotel_path(hotel) %>
      </td>
      <td>
        <%= link_to 'Delete', hotel_path(hotel), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>