= link_to 'Назад', hotels_path
%h1 Новая запись
= form_for @hotel do |f|
    = f.text_field :title
    = f.text_field :star_rating
    = f.text_field :breakfast_included
    = f.text_field :room_description
    = f.text_field :price_for_room
    = f.text_field :address
    = f.submit "Сохранить"
