!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HotelAdvisor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      %h3 Здравствуйте, #{current_user.email}
      = link_to 'Выйти', destroy_user_session_path, :method => :delete
      = link_to 'Профиль', user_path(current_user)
      = link_to 'Редактировать профиль', edit_user_registration_path
    - else
      = link_to 'Войти', new_user_session_path
      или #{link_to 'Зарегистрироваться', new_user_registration_path}
    = link_to 'Отели', hotels_path
    = yield